---
layout: page
title: Actualités
---

<div id="main"></div>
<script type="module">

const SPACE_ID = '{{ site.contentful.space_id | default: "empty" }}'; 
const ACCESS_TOKEN = '{{ site.contentful.access_token | default: "'empty'" }}';
const preview = '{{ site.contentful.preview | default: false }}';

const endpoint = "https://graphql.contentful.com/content/v1/spaces/" + SPACE_ID;
const query = `query observatoireCollectionQuery {
  observatoireCollection(limit: 10, preview: ${preview}, order: [sys_publishedAt_DESC]) {
    items {
      sys {
        id
        publishedAt
      }
      title
      richContent {
        json 
        links {
          assets {
            block {
              sys {
                id
              }
              url
              title
              width
              height
              description
              contentType
            }
          }
        }
      }
    }
  }
}`
const fetchOptions = {
  method: "POST",
  headers: {
    Authorization: "Bearer " + ACCESS_TOKEN,
    "Content-Type": "application/json",
  },
  body: JSON.stringify({ query }),
};

function renderOptions(links) {
  // modified from https://www.contentful.com/blog/rich-text-field-tips-and-tricks/ 
  // create an asset map
  const assetMap = new Map();

  // loop through the linked assets and add them to a map
  for (const asset of links.assets.block) {
    assetMap.set(asset.sys.id, asset);
  }

  return {
    renderNode: {
      ['embedded-asset-block']: (node, next) => {
        // find the asset in the assetMap by ID
        const asset = assetMap.get(node.data.target.sys.id);

        switch (asset.contentType) {
          case "image/png":
            return (
              `<a href=${asset.url}><img src=${asset.url} height=${asset.height} width=${asset.width} alt=${asset.description} /></a>`
            );
          default:
            return "Nothing to see here...";
        }
      },
    },
  };
};
function renderSingleItem(item) 
{
    // Create the article element to hold all post data elements
    const newsItem = document.createElement("article");

    // add title
    const itemTitle = document.createElement("h3");
    itemTitle.innerText = item.title;
    newsItem.appendChild(itemTitle);

    // add text
    const itemText = document.createElement("div");
    itemText.innerHTML = documentToHtmlString(item.richContent.json, renderOptions(item.richContent.links));
    newsItem.appendChild(itemText);

    const mainEl = document.getElementById("main");
    mainEl.appendChild(newsItem);

}

function renderItems(items) {

    items.filter(item => item.sys.publishedAt == null).forEach(renderSingleItem);
    items.filter(item => item.sys.publishedAt !== null).forEach(renderSingleItem);
};
fetch(endpoint, fetchOptions)
  .then((response) => response.json())
  //.then((data) => console.log(data))
  .then((data) => renderItems(data.data.observatoireCollection.items));
</script>
